@page "/call-javascript-1"
@using System.Runtime.InteropServices.JavaScript

<h1>.NET JS Import/Export Interop 1 (Call JS)</h1>

@(message is not null ? message : string.Empty)

@code {
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsBrowser())
        {
            await JSHost.ImportAsync("Interop1", "../Pages/CallJavaScript1.razor.js");

            message = Interop1.GetWelcomeMessage();
        }
    }
}
