@page "/call-javascript-2"
@using BlazorWASM70UnmarshalledJS.JavaScriptInterop

<h1>.NET JS Import/Export Interop 2 (Call JS)</h1>

@(message is not null ? message : string.Empty)

@code {
    private string? message;

    protected override void OnInitialized()
    {
        if (OperatingSystem.IsBrowser())
        {
            message = Interop3.GetWelcomeMessage();
        }
    }
}
