@page "/call-dotnet-1"
@using System.Runtime.InteropServices.JavaScript

<h1>.NET JS Import/Export Interop 1 (Call .NET)</h1>

<p>
    <span id="result">.NET method not executed</span>
</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (OperatingSystem.IsBrowser() && firstRender)
        {
            await JSHost.ImportAsync("Interop2", "../Pages/CallDotNet1.razor.js");

            Interop2.SetWelcomeMessage();
        }
    }
}
