@page "/call-dotnet-2"
@using BlazorWASM70UnmarshalledJS.JavaScriptInterop

<h1>.NET JS Import/Export Interop 2 (Call .NET)</h1>

<p>
    <span id="result">.NET method not executed</span>
</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (OperatingSystem.IsBrowser() && firstRender)
        {
            Interop.SetWelcomeMessage();
        }
    }
}
